
<template name="comment_edit">
  {{#if isNotVerified}}
    <div class="grid">
      <div class="error error-message">
        Your email address is not verified. You will not be able to post or comment. Check your emails, and click the link we sent you.
        <a href="resend-verification/{{{userId}}}">Click here to have it sent out again</a>
      </div>
    </div>
  {{/if}}
  <div class="grid submit">
    {{#with comment}}
    <form class="grid-block form-horizontal">
      {{#constant}}
      <div class="control-group">
        <label class="control-label">Comment</label>
        <div class="controls" id="editor"><textarea id="body" value="" class="input-xlarge">{{body}}</textarea></div>
      </div>
      {{/constant}}
      <div class="form-actions">
        <a class="delete-link" href="/comments/deleted">Delete Comment</a>
        <input type="submit" value="Submit" title="(⌘+enter)" />
      </div>
    </form>
    {{/with}}
  </div>
</template>