
<template name="comment_form">
  {{#if isNotVerified}}
    <div class="grid">
      <div class="error error-message">
        Your email address is not verified. You will not be able to post or comment. Check your emails, and click the link we sent you.
        <a href="resend-verification/{{{userId}}}">Click here to have it sent out again</a>
      </div>
    </div>
  {{/if}}
  <div class="comment-new">
    <form>
      {{#constant}}
      <div class="comment-field" id="editor">
        <textarea id="comment" rows="3" autofocus="autofocus"></textarea>
      </div>
      {{/constant}}
      <div class="comment-submit">
        <input type="submit" class="button" value="Add Comment" title="(⌘+enter)" />
      </div>
    </form>
  </div>
</template>
